{% extends 'front/base_front.html' %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index_2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index_login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/product.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/swiper2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!--登录弹出框中的小图标--->
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
{% endblock %}

{% block main %}{% endblock %}

{% block js %}
    <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/swiper2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index_2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/nav_toTop.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/product.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{#    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>#}
    <script type="text/javascript" src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/fronts/get_book_type.js') }}"></script>

{% endblock %}
