
<!DOCTYPE html>
<html>
<head>
<title>此功能开发中...</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{{ url_for('static', filename='css/building_css/style.css') }}" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
	<div class="header">
		<h1>这个功能正在建设中</h1>
	</div>
	<div class="content">
		<div class="content1"> 
			<img src="{{ url_for('static', filename='images/building_images/work.png') }}" alt="under-construction">
		</div>
		<div class="content2">
			<div class="timer_wrap">
				<div id="counter"> </div>		
			</div>
		</div>
    </div>
    <div class="content2">
        <p><a href="/"><img class="png" src="{{ url_for('static', filename='images/404images/404_to_index.png') }}" /></a> </p>

    </div>
<div class="footer">
	<p>Copyright © Cool Under Construction Page. All Rights Reserved</p>
</div>

</body>
</html>