{% extends 'block_index.html' %}

{% block book_list %}
<ul>
{% for book in books %}
    <li>
        <a href="#" title={{ book.title }}>
            <img src={{ book['img_url'] }}>
        </a>
        <p><a href="#" title={{ book.title }} class="name">{{ book.title }}</a></p>
        <p class="author">{{ book.author }}</p>
        <p class="price">
        <span class="rob">
            <span class="sign">&yen;</span>
            <span class="num">{{ book.price }}</span>
        </span>
            <span class="price_r">
            <span class="sign">&yen;</span>
            <span class="num">{{ book.price_m }}</span>
        </span>
        </p>
    </li>
{% endfor %}
</ul>
{% endblock %}

{% block new_book %}
<ul>
{% for new_book in new_books %}
    <li>
        <a href="#" title={{ new_book.title }} class="name">
            <img src={{ new_book['img_url'] }}>
        </a>
        <p><a href="#" title={{ new_book.title }} class="name">{{ new_book.title }}</a></p>
        <p class="price">
            <span class="rob">
                <span class="sign">&yen;</span>
                <span class="num">{{ new_book.price }}</span>
            </span>
            <span class="price_r">
                <span class="sign">&yen;</span>
                <span class="num">{{ new_book.price_m }}</span>
            </span>
        </p>
    </li>
{% endfor %}
</ul>
{% endblock %}

{% block book_top %}
<ul>
{% for top in book_top %}
    <li>
        <dl>
            <dt>
                <img src={{ top['img_url'] }}>
            </dt>
            <dd><p>{{ top.subheading }}</p></dd>
        </dl>
    </li>
{% endfor %}
</ul>
{% endblock %}

{% block book_top2 %}
<ul>
{% for top in book_top2 %}
    <li>
        <dl>
            <dt>
                <img src={{ top['img_url'] }}>
            </dt>
            <dd><p>{{ top.subheading }}</p></dd>
        </dl>
    </li>
{% endfor %}
</ul>
{% endblock %}

