{% extends 'block_index.html' %}
{% block title %}主页{% endblock %}

{% block book_list %}
<ul>
{% for book in books %}
    <li>
        <a href="{{ url_for('products.product', id=book['_id']) }}" title={{ book.title }}>
            <img src="{{ book['img_url'] }}" alt="{{ book.title }}">
        </a>
        <p><a href="{{ url_for('products.product', id=book['_id']) }}" title={{ book.title }} class="name">{{ book.title }}</a></p>
        <p class="author">{{ book.author }}</p>
        <p class="price">
        <span class="rob">
            <span class="sign">&yen;</span>
            <span class="num">{{ book.price }}</span>
        </span>
            <span class="price_r">
            <span class="sign">&yen;</span>
            <span class="num">{{ book.price_m }}</span>
        </span>
        </p>
    </li>
{% endfor %}
</ul>
{% endblock %}

{% block new_book %}
<ul>
{% for new_book in new_books %}
    <li>
        <a href="{{ url_for('products.product', id=new_book['_id']) }}" title={{ new_book.title }} class="name">
            <img src={{ new_book['img_url'] }}>
        </a>
        <p><a href="{{ url_for('products.product', id=new_book['_id']) }}" title={{ new_book.title }} class="name">{{ new_book.title }}</a></p>
        <p class="price">
            <span class="rob">
                <span class="sign">&yen;</span>
                <span class="num">{{ new_book.price }}</span>
            </span>
            <span class="price_r">
                <span class="sign">&yen;</span>
                <span class="num">{{ new_book.price_m }}</span>
            </span>
        </p>
    </li>
{% endfor %}
</ul>
{% endblock %}

{% block book_top %}
<ul>
{% for top in book_top %}
    <li>
        <dl>
            <dt>
                <a href="{{ url_for('products.product', id=top['_id']) }}" title="{{ top['title'] }}"><img src="{{ top['img_url'] }}" alt="{{ top['title'] }}"></a>
            </dt>
            <dd><p><a href="{{ url_for('products.product', id=top['_id']) }}">{{ top.subheading }}</a></p></dd>
        </dl>
    </li>
{% endfor %}
</ul>
{% endblock %}

{% block book_top2 %}
<ul>
{% for top in book_top2 %}
    <li>
        <dl>
            <dt>
                <a href="{{ url_for('products.product', id=top['_id']) }}" title="{{ top['title'] }}"><img src="{{ top['img_url'] }}" alt="{{ top['title'] }}"></a>
            </dt>
            <dd><a href="{{ url_for('products.product', id=top['_id']) }}">{{ top.subheading }}</a></dd>
        </dl>
    </li>
{% endfor %}
</ul>
{% endblock %}

{% block serve %}
<ul>
            <li>
                <dl>
                    <dt><img src="{{ url_for('static', filename='images/zheng.png') }}"></dt>
                    <dd class="dd1">正规渠道</dd>
                    <dd class="dd2">正品保障</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><img src="../static/img/zheng.png"></dt>
                    <dd class="dd1">正规渠道</dd>
                    <dd class="dd2">正品保障</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><img src="../static/img/zheng.png"></dt>
                    <dd class="dd1">正规渠道</dd>
                    <dd class="dd2">正品保障</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><img src="../static/img/zheng.png"></dt>
                    <dd class="dd1">正规渠道</dd>
                    <dd class="dd2">正品保障</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><img src="../static/img/zheng.png"></dt>
                    <dd class="dd1">正规渠道</dd>
                    <dd class="dd2">正品保障</dd>
                </dl>
            </li>
        </ul>
{% endblock %}

{% block after_sale %}
<ul>
            <li>
                <ol>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">关于图书</a></li>
                    <li><a href="#">新闻中心</a></li>
                    <li><a href="#">人才招聘</a></li>
                </ol>
            </li>
            <li>
                <ol>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">关于图书</a></li>
                    <li><a href="#">新闻中心</a></li>
                    <li><a href="#">人才招聘</a></li>
                </ol>
            </li>
            <li>
                <ol>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">关于图书</a></li>
                    <li><a href="#">新闻中心</a></li>
                    <li><a href="#">人才招聘</a></li>
                </ol>
            </li>
            <li>
                <ol>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">关于图书</a></li>
                    <li><a href="#">新闻中心</a></li>
                    <li><a href="#">人才招聘</a></li>
                </ol>
            </li>
            <li>
                <ol>
                    <li><span class="xl"></span> <a href="#">新浪微博</a></li>
                    <li><span class="tx"></span><a href="#">腾讯微博</a></li>
                    <li><span class="rr"></span><a href="#">人人网</a></li>
                    <li><span class="qq"></span><a href="#">QQ空间</a></li>
                </ol>
            </li>
            <li>
                <ol>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">关于图书</a></li>
                    <li><a href="#">新闻中心</a></li>
                    <li><a href="#">人才招聘</a></li>
                </ol>
            </li>
        </ul>
{% endblock %}

{% block footer %}
<ul>
            <li><img src="../static/img/logo.jpg"></li>
            <li><span>@2017-2021  贺州市</span></li>
            <li><a class="footer_last_li" href="#">版权说明</a></li>
            <li><a href="#">版权说明</a></li>
            <li><a href="#">版权说明</a></li>
            <li><a href="#">版权说明</a></li>
        </ul>
{% endblock %}