{% extends 'block_buy_cart.html' %}
{% block title %}添加成功{% endblock %}
{% block buy_cart %}

<div class="container">
    <div>
        <table class="table table-hover">
            <tbody>
            <tr>
                <td>
                    <div class="title left">
                        <h3 class="u-icon-radioSB left"></h3>
                        <h3 class="left">商品已成功添加至购物车！</h3>
                    </div>
                    <div class="book left">
                        <div class="book_img left"><img src={{ book['img_url'] }}></div>
                        <div class="book_name left">
                            <a href="{{ url_for('products.product', id=book['_id']) }}">{{ book.title }}</a></div>
                        {% if num %}
                        <div class="num left"><p>x {{ num }}</p></div>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="btn_to_cart left">
                        <div class="to_cart left btn"><a type="button" href="{{ url_for('products.cart') }}">去购物车结算</a>
                        </div>
                        <div class="to_cart left btn"><a type="button"
                                                         href="{{ url_for('products.product', id=book['_id']) }}">继续购物</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}