{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
    {#    <script>#}
    {#window.onload = function () {#}
    {#    showTime();#}
    {#        };</script>?#}
{#</head>#}
{#<body>#}
{#<!--#}
{#<div class="content3">#}
{#    <div class="time">#}
{##}
{#        {% for order in create_time %}#}
{##}
{#            <div class="xh"></div>#}
{#            {% if not loop.last %}#}
{#                <br><br>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{##}
{#    </div>#}
{#</div>#}
{#<script>#}
{#    var div = document.getElementsByClassName("xh");#}
{#    console.log('inputs.length:' + div.length);#}
{#    for (var i = 0; i < div.length; i++) {#}
{#        showTime();#}
{#        function showTime() {#}
{#            var endTime = new Date('2020/5/11,13:00:00');#}
{#            console.log(endTime);#}
{#            var nowTime = new Date();#}
{#            var leftSeconds = parseInt((endTime.getTime() - nowTime.getTime()) / 1000);//两个时间点之间的秒数#}
{#            var d = parseInt(leftSeconds / (60 * 60 * 24));//天数，这个直接取整#}
{#            var h = parseInt(leftSeconds / 3600) % 24;//注意这里，小时需要求余24，为了获取天数之外的小时数#}
{#            var m = parseInt(leftSeconds / 60) % 60;//只获取残留的分钟数#}
{#            var s = leftSeconds % 60;//残留的秒数#}
{#            if (leftSeconds <= 0) {#}
{#                console.log(d + "天" + h + "小时" + m + "分" + s + "秒");#}
{#                var span = document.createElement('span');#}
{#                span.innerHTML = d + "天" + h + "小时" + m + "分" + s + "秒";#}
{#                div[i].appendChild('span');#}
{#                setTimeout(showTime, 1000);#}
{#            }#}
{#        }#}
{#    }#}
{##}
{#</script>#}
{#-->#}
{#<style>#}
{#  .mytime{ line-height: 40px; width: 300px; margin: 0 auto;}#}
{# </style>#}
{##}
{#<div class="mytime jsTime" data-time="2020-05-11 16:58:00">时间1</div>#}
{#<div class="mytime jsTime" data-time="2020-05-11 18:00:02">时间2</div>#}
{#<div class="mytime jsTime" data-time="2020-05-11 19:01:31">时间3</div>#}
{#<div class="mytime jsTime" data-time="2020-05-11 05:05:15">时间4</div>#}
{#<div class="mytime jsTime" data-time="2020-05-11 09:01:43">时间5</div>#}
{#<hr>#}
{#<div class="mytime jsTime2" data-time="2020-05-11 16:30:05">时间1</div>#}
{#<div class="mytime jsTime2" data-time="2020-05-11 14:01:22">时间2</div>#}
{#<div class="mytime jsTime2" data-time="2020-05-11 18:06:25">时间3</div>#}
{#<div class="mytime jsTime2" data-time="2020-05-11 22:07:19">时间4</div>#}
{#<div class="mytime jsTime2" data-time="2020-05-11 23:12:38">时间5</div>#}
{#<!-- 方法1 -->#}
{#<script>#}
{# const countdown = {#}
{#  domList : document.querySelectorAll('.jsTime'),#}
{#  formatNumber(n){#}
{#   // return n.toString().padStart(2, '0'); // 用padStart方法要注意兼容问题#}
{#   n = n.toString();#}
{#   return n[1] ? n : '0' + n;#}
{#  },#}
{#  setTime(dom){#}
{#   //获取设置的时间 如：2019-3-28 14:00:00 ios系统得加正则.replace(/\-/g, '/');#}
{#   const leftTime = new Date(dom.getAttribute('data-time').replace(/\-/g, '/')) - new Date();#}
{#   if (leftTime >= 0) {#}
{#    const d = Math.floor(leftTime / 1000 / 60 / 60 / 24);#}
{#    const h = Math.floor(leftTime / 1000 / 60 / 60 % 24);#}
{#    const m = Math.floor(leftTime / 1000 / 60 % 60);#}
{#    const s = Math.floor(leftTime / 1000 % 60);#}
{#    dom.innerHTML = `剩余${ d > 0 ? d + '天' : '' }${ [h, m, s].map(this.formatNumber).join(':') }`;#}
{#   } else {#}
{#    clearInterval(dom.$timer);#}
{#    dom.innerHTML = '拼团已结束';#}
{#   }#}
{#  },#}
{#  start(){#}
{#   this.domList.forEach((dom) => {#}
{#    this.setTime(dom);#}
{#    dom.$timer = setInterval(() => {#}
{#     this.setTime(dom);#}
{#    }, 1e3);#}
{#   });#}
{#  },#}
{# };#}
{# countdown.start();#}
{#</script>#}
{#<!-- 方法2 -->#}
{#<script>#}
{# //时间格式处理#}
{# const formatNumber = n => {#}
{# n = n.toString();#}
{# return n[1] ? n : '0' + n;#}
{# };#}
{# //团购倒计时#}
{# const teamCountTime = (obj) => {#}
{# var timer = null;#}
{# function fn(){#}
{#  //获取设置的时间 如：2019-3-28 14:00:00 ios系统得加正则.replace(/\-/g, '/');#}
{#  var setTime = obj.getAttribute('data-time').replace(/\-/g, '/');#}
{#  //获取当前时间#}
{#  var date = new Date(),#}
{#   now  = date.getTime(),#}
{#   endDate = new Date(setTime),#}
{#   end  = endDate.getTime();#}
{#  //时间差#}
{#  var leftTime = end - now;#}
{#  //d,h,m,s 天时分秒#}
{#  var d, h,m,s;#}
{#  var otime = '';#}
{#  if (leftTime >= 0) {#}
{#  d = Math.floor(leftTime / 1000 / 60 / 60 / 24);#}
{#  h = Math.floor(leftTime / 1000 / 60 / 60 % 24);#}
{#  m = Math.floor(leftTime / 1000 / 60 % 60);#}
{#  s = Math.floor(leftTime / 1000 % 60);#}
{#  if (d <= 0) {#}
{#   otime = [h, m, s].map(formatNumber).join(':');#}
{#  } else {#}
{#   otime = d + '天' + [h, m, s].map(formatNumber).join(':');#}
{#  }#}
{#  obj.innerHTML = '剩余' + otime;#}
{#  //#}
{#  timer = setTimeout(fn, 1e3);#}
{#  } else {#}
{#  clearTimeout(timer);#}
{#  obj.innerHTML = '拼团已结束';#}
{#  }#}
{# }#}
{# fn();#}
{# };#}
{# let jsTimes = document.querySelectorAll('.jsTime2');#}
{# jsTimes.forEach((obj) => {#}
{# teamCountTime(obj);#}
{# });#}
{#</script>#}
{#</body>#}
{#</html>#}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>倒计时</title>
</head>
<body>

 <div id="timer1" style="color:red"></div>
 <div id="timer2" style="color:red"></div>

</body>
<script>
 function countDown( maxtime,fn ) {
  var timer = setInterval(function() {
    if( !!maxtime && maxtime>=0 ){
     var day = Math.floor(maxtime / 86400),
     hour = Math.floor((maxtime % 86400) / 3600),
    minutes = Math.floor((maxtime % 3600) / 60),
    seconds = Math.floor(maxtime%60),
    msg = "距离结束还有"+day+"天"+hour+"时"+minutes+"分"+seconds+"秒";
    fn( msg );
    --maxtime;
   } else {
    clearInterval( timer );
    fn("时间到，结束!");
   }
  }, 1000);
 }
 var newtime = new Date();
 var endtime = new Date('2020/05/10,17:20:01');
 var maxtime = (endtime.getTime()-newtime.getTime())/1000;
 console.log('endtime.getTime()-newtime.getTime()/1000:'+((endtime.getTime()-newtime.getTime())/1000));
 console.log('maxtime:',maxtime);
 countDown( maxtime,function( msg ) {
  document.getElementById('timer1').innerHTML = msg;
 });
 countDown( 86400,function( msg ) {
  document.getElementById('timer2').innerHTML = msg;
 })
    {#https://www.jb51.net/article/156906.htm#}
</script>
</html>