body {
    background-color: white;
}

.con_info {
    width: 250px;
}

.con_info {
    border: 2px solid red;
}

.con_info th, td {
    margin: 3px;
}

.book_img img {
    clear: both;
    width: 100px;
    margin: 0px auto;
}

.book_name {
    margin: 100px 30px;
    /*padding-top: 60px;*/
}

.content {
    text-align: center;
}

.right span {
    margin: 10px;
}

.sum {
    color: red;
    font-size: 18px;
    margin-right: 20px;
}

.info div {
    margin-right: 30px;
}

.time {
    clear: both;
}

.form {
    clear: both;
}

.con_add {
    margin: 30px;
}

.order_det {
    background-color: #cae6f6;
}

.pay_btn a {
    border-radius: 15px;
    font-size: 16px;
    clear: both;
    color: white;
    background-color: red;
    padding: 10px 17px;

}

.num {
    margin: 100px auto;
}

.to_pay {
    clear: both;
    margin: 10px;
}

a:hover {
    color: #ff645d;
}
/******************************************Add To Cart Success Html******************************************/
.title {
    /*border: 2px solid #666666;*/
    width: 555px;
    color: #f4691c;
    margin-left: 150px;
    margin-top: 50px;
    text-align: center;
}
div.title h1{
    font-size: 25px;
}
.u-icon-radioSB {
    clear: both;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    position: relative;
    background: #f4691c;
    margin-top: 22px;
}

.u-icon-radioSB::after {
    position: absolute;
    top: 2px;
    left: 7px;
    width: 6px;
    height: 12px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotateZ(45deg);
    content: "";
}

.to_cart {
    text-align: center;
    margin-top: 150px;
}

.to_cart a {
    border-radius: 15px;
    font-size: 16px;
    color: white;
    background-color: red;
    padding: 10px 17px;
    margin: 10px;
}
.to_cart a:hover{
    background-color: #cc2f2e;
    color: royalblue;
}
.book {
    margin-left: 55px;
    /*border: 2px solid #666666;*/
}

.btn_to_cart {
    width: 400px;
    /*border: 1px solid;*/
}

.breadcrumb .logo img {
    width: 250px;
    margin: 10px auto;
}

/**********************************购物车为空**********************************/
.cart_em, .to_products {
    /*border: 1px solid;*/
    position: relative;
    margin-left: 50px;
    height: 200px;
}

/*.cart_em h1 {*/
    /*color: red;*/
    /*!*font-size: 20px;*!*/
/*}*/

.to_products a {
    position: absolute;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    background-color: red;
    padding: 10px 17px;
    /*margin: 30px 22px 30px 22px;*/

}

.reduces, .adds {
    width: 20px;
}

.book_num span.span {
    margin: 0px 5px;
}

/*添加收货地址*/
div.add_address {
    /*border: 1px solid;*/
    margin-top: 100px;
    width: 600px;
    text-align: center;
    margin: 0px auto;
    position: relative;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.graybox {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.popbox {
    width: 600px;
    padding-bottom: 30px;
    border-radius: 6px;
    background: #FFFFff;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 26%;
    z-index: 19;
}

.add_address ul li {
    margin: 20px;
}

div.add_address .btn {
    /*color: red;*/
    text-align: center;
    margin: 20px;

}

.add_address input {
    width: 70%;
    height: 36px;
    line-height: 36px;
    border-radius: 26px;
    /*margin-top: 20px;*/
    padding: 0 10px 0 40px;
    border: none;
    background: #f0f0f0;
    /*border: 1px solid;*/
}

.add_address select {
    width: 35%;
    height: 36px;
    line-height: 36px;
    border-radius: 26px;
    /*margin-top: 20px;*/
    padding: 0 10px 0 40px;
    border: none;
    background: #f0f0f0;
    /*border: 1px solid;*/
}

.add_address input:focus, select:focus {
    outline: none;
    background: #DDDDDD;
}

.add_address ul li span {
    position: absolute;
    /*border: 1px solid;*/
    right: 84%;
    text-align: center;
    margin: 6px auto;
}

.addr_tables {
    margin: 20px;
}

#new_addr {
    clear: both;
    margin-left: 20px;
}


.poptop a.close {
    position: absolute;
    right: -1px;
    top: -2px;
    font-size: 20px;
    font-weight: bold;
    width: 36px;
    height: 36px;
    background: url("../images/popbox-close.png") center no-repeat;
}

input.dan_select,input.checkOnly{
    width: 15px;
    height: 15px;
}

.table>tbody>tr>td, .table>thead>tr>th{
    text-align: center;
    vertical-align: middle!important;
}