
.product {
    /*width: 1280px;*/
    /*height: 500px;*/
    /*background-color: white;*/
    /*border: 1px solid #00925F;*/
}

.col-md-4 {
    width: 400px;
    padding: 30px 5px;
    display: flex; /*设置为弹性容器*/
    align-items: center; /*定义div的元素垂直居中*/
    justify-content: center; /*定义div的里的元素水平居中*/
    background-color: white;

}

.col-md-8 {
    width: 800px;
    padding: 30px 20px;
    /*background-color: white;*/

}

/*副标题*/
.subheading {
    font-size: 16px;
    margin: 5px;
}

/*、出版社、出版时间*/
.pub_time, .press {
    margin: 3px 15px;
}

/*作者*/
.author {
    margin: 3px 15px 3px 5px;

}

.author_a a {
    color: blue;
}

.author_a a:hover {
    color: #f4691c;
    text-decoration: underline;
}


.product .price {
    clear: both;
    color: red;
    margin: 60px 0px 10px 0px;
}

.price_m {
    color: #666666;
}

.old {
    text-decoration: line-through;
}

.book_num {
    width: 40px;
    height: 33px;
    border: 2px #B2B2B2;
    font-size: 20px;
    background-color: deepskyblue;
}

.book-num {
    text-align: center;
    width: 40px;
    height: 30px;
}

.button {
    margin: 50px;
}

.cart button, .pay a {
    margin: 0px 15px;
    font-size: 18px;
    color: red;
    border: 1px solid red;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

button#calculate {
    width: 180px;
    height: 36px;
    /*line-height: 36px;*/
    text-align: center;
    border-radius: 6px;
    border: none;
    /*background: linear-gradient(#749dcf, #1c7ecf);*/
    color: #FFFFff;
    cursor: pointer;
    outline: none;
}

a#buy-now {
    width: 180px;
    /*height: 36px;*/
    /*line-height: 36px;*/
    text-align: center;
    border-radius: 6px;
    border: none;
    background: red;
    color: #FFFFff;
    cursor: pointer;
    outline: none;
}

a#buy-now:hover {
    background-color: darkgreen;
}

button#calculate:hover {
    background-color: darkgreen;
}

.pay a {
    padding: 5px;

}

.cart button:hover {
    color: #007aff;
}

.cart button {
    color: white;
    background-color: red;
}

.description {
    text-align: center;
    background-color: white;
}

.description .desc_img img {
    width: 50%;
}

.description-hr {
    border-bottom: 2px solid #666;
}

.desc_img img {
    height: 460px;
    width: 460px;
}

.img-user img {
    height: 100px;
    width: 80px;
}

#score ul {
    width: 270px;
    position: absolute;
    top: 0px;
    left: 160px;
}

#score ul.clearfix:after {
    content: '';
    display: table;
    clear: both;

}

.score {
    /*float: left;*/
    /*list-style: none;*/
    /*cursor: pointer;*/
    width: 75px;
    /*height: 15px;*/
    background: url(/static/images/star/dangjia_icon_star3.png) repeat-x 0 -16px;
}

.score-em {
    padding-left: 5px;
}

.current {
    /*background: url(/static/images/star/star_48px.png);*/
    height: 15px;
    display: block;
    background: url(/static/images/star/dangjia_icon_star3.png) repeat-x 0 0;
}

.evaluate-content {
    height: 70px;
    /*overflow: scroll;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.evaluate-img img {
    height: 100px;
    width: 80px;
}

.evaluate-img img:hover {
    width: 100%;
    height: 100%
}

.evaluate{
    /*height: 200px;*/
    border: 1px solid #8fd19e;
}

.recommend_book img{
    width: 150px;
}

.recommend_book{
    border: solid 1px;
}

.glyphicon-star{
    color: yellow;
}