{% extends 'admin/indexBase.html' %}

{% block title %}图书管理{% endblock %}

{% block search %}
    <form class="navbar-form navbar-right" method="get" action="{{ url_for('bookAdmin.search_book') }}">
        <input type="text" class="form-control" name="kw" placeholder="Search...Books">
    </form>
{% endblock %}

{% block sub_header %}
    <h2 class="sub-header">图书列表</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="row">
            <tr>
                <th class="col-1">#</th>
                <th class="col-1">书名</th>
                <th class="col-1">作者</th>
                <th class="col-lg-5">简介</th>
                <th class="col-1">价格</th>
                <th class="col-md-2"></th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.subheading }}</td>
                    <td>{{ book.price }}</td>
                    <td><a type="button" class="btn btn-primary" role="button"
                           href="{{ url_for('bookAdmin.bookDetails' , book_id=book['_id']) }}">详情</a>
                        <a type="button" class="btn btn-primary" role="button"
                           href="{{ url_for('bookAdmin.off_shelf' , book_id=book['_id']) }}"
                           onclick="javascrip:return confirm('您确定要将该物品下架？')">下架</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-lg">
                <li {% if active_page == pages|min %}class="disabled"{% endif %}>
                    <a href="{{ url_for('bookAdmin.bookAdmin', page=1) }}">首页</a></li>
                <li {% if active_page == pages|min %}class="disabled"{% endif %}>
                    <a href="{{ url_for('bookAdmin.bookAdmin', page=active_page - 1) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for page in pages %}
                    <li class="{% if active_page == page %}active{% endif %}">
                        <a href="{{ url_for('bookAdmin.bookAdmin', page=page) }}">{{ page }}</a></li>
                {% endfor %}
                <li {% if active_page == pages|max %}class="disabled"{% endif %}>
                    <a href="{{ url_for('bookAdmin.bookAdmin', page=active_page + 1) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li {% if active_page == pages|max %}class="disabled"{% endif %}>
                    <a href="{{ url_for('bookAdmin.bookAdmin', page=max_page) }}">尾页</a></li>
                <li class="disabled"><a>共{{ max_page }}页</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}

