{% extends 'admin/bookAdmin.html' %}

{% block title %}下架图书{% endblock %}

{% block main %}
    <h2 class="sub-header">下架图书列表</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="row">
            <tr>
                <th class="col-1">#</th>
                <th class="col-1">书名</th>
                <th class="col-1">作者</th>
                <th class="col-lg-5">简介</th>
                <th class="col-1">价格</th>
                <th class="col-lg-2"></th>
                {% for message in get_flashed_messages() %}
                    <th class="col-1 info">错误</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.subheading }}</td>
                    <td>{{ book.price }}</td>
                    <td><a type="button" class="btn btn-primary" role="button"
                           href="{{ url_for('bookAdmin.bookDetails' , book_id=book['_id']) }}">详情</a>
                        <a type="button" class="btn btn-primary" role="button"
                           href="{{ url_for('bookAdmin.on_shelf' , book_id=book['_id']) }}"
                           onclick="javascrip:return confirm('您确定要将该物品上架？')">上架</a>
                        <a type="button" class="btn btn-danger" role="button"
                           href="/admin/bookAdmin/off_shelf_book_trash?book_id={{book['_id'] }}"
                           onclick="javascrip:return confirm('您确定要将该物品删除？')">删除</a>
                    </td>
                    {% for message in get_flashed_messages() %}
                        <td class="flash text-center"><b>{{ message }}</b></td>
                    {% endfor %}
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="pages">

    </div>
    <script>
        new Pagination({
            element: '#pages',
            type: 1,
            pageIndex: {{ active_page }},   //默认活动页
            pageSize: {{ page_size }},	//一页数量
            pageCount: {{ page_count }},   //显示页数
            total: {{ total }},      //总数
            jumper: true,
            singlePageHide: false,
            prevText: '上一页',
            nextText: '下一页',
            disabled: false,
            currentChange: function (index) {
                console.log(index);
                //https://blog.csdn.net/pengShuai007/article/details/86528992
                var a = document.createElement('a');
                a.setAttribute('href', '{{ url_for('bookAdmin.off_shelf_books') }}?page='+index);
                // 防止反复添加
                if (document.getElementById('startTelMedicine')) {
                    document.body.removeChild(document.getElementById('startTelMedicine'));
                }
                document.body.appendChild(a);
                a.click();
            }
        });
    </script>
{% endblock %}