{% extends './block/index_top_bottom.html' %}

{% block title %}我{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/userinfo.css') }}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-1 column">
            </div>
            <div class="col-md-3 column">
                <div class="info-list ">
                    <ul class="list-unstyled ">
                        <li>
                            <a href="{{ url_for('userinfo.userinfo') }}">我</a>
                        </li>
                        <li>
                            <a href="{{ url_for('userinfo.orders') }}">我的订单</a>
                        </li>
                        <li>
                            <a href="{{ url_for('userinfo.info') }}">我的信息</a>
                        </li>
                        <li>
                            <a href="{{ url_for('userinfo.address') }}">收货人信息</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 column right">
                <div class="userinf_content">
                    {% block info_content %}
                        <img src="{{ url_for('static', filename='images/avatar/'+user.avatar) }}" class="userinfo-img" alt="头像">
                        <div>
                            <p>{{ user.name }}</p>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/userinfo.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pay.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/cart.js') }}"></script>

{% endblock %}