<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}MyBookStore</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index_2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/swiper2.css') }}">


</head>
<body>
</div>
<!--页面头部-->
<div id="header">
    <div class="container">
        <div class="header_left left">
            <div class="address"><a>送至：</a></div>
        </div>
        <ul class="right">
            {% if session['user_id'] %}
            <li>
                <a href="{{ url_for('user.login') }}">{{ user['tel'] }}</a>
            </li>
            <li><a href="{{ url_for('user.logout') }}">注销</a> </li>
            {% else %}
            <li>
                <a href="{{ url_for('user.login') }}">登录</a>
            </li>
            {% endif %}
            <li><a href="#">购物车</a></li>
            <li><a href="#">我的书屋</a></li>
            <li><a href="#">企业采购</a></li>
            <li class="customer_s"><a href="#">客户服务</a></li>
        </ul>
    </div>
</div>
<!--导航栏-->
<div id="nav">
    <div class="container">
        <div class="logo left">
            <img src="../static/img/logo.jpg"/>
        </div>
        <div class="search_kw left">
            <form class="search_form" action="#" method="get">
                <input type="text" placeholder="请输入搜索关键字...">
                <input type="submit" value="搜  索">
            </form>
        </div>
        <ul class="right">
            <li><a href="{{ url_for('index') }}">首页</a></li>
            <li><a href="#">电子书</a></li>
            <li><a href="#">教育</a></li>
            <li><a href="#">生活</a></li>
            <li><a href="#">科技</a></li>
            <li><a href="#">服务</a></li>
        </ul>
    </div>
</div>
<!--页面banner-->
<div id="banner">
    <!-- <div class="container"></div> -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="{{ url_for('static', filename='images/moon.jpg') }}" width="100%;" height="630"></div>
            <div class="swiper-slide"><img src="{{ url_for('static', filename='images/kiss.jpg') }}" width="100%;" height="630"></div>
            <div class="swiper-slide"><img src="{{ url_for('static', filename='images/loveheart.jpg') }}" width="100%;" height="630"></div>
            <div class="swiper-slide"><img src="{{ url_for('static', filename='images/moon.jpg') }}" width="100%;" height="630"></div>
            <div class="swiper-slide"><img src="{{ url_for('static', filename='images/Littledragonmaiden.png') }}" width="100%;" height="630"></div>
            <div class="swiper-slide"><img src="{{ url_for('static', filename='images/Peachblossom.png') }}" width="100%;" height="630"></div>
            <div class="swiper-slide"><img src="{{ url_for('static', filename='images/qinmong.png') }}" width="100%;" height="630"></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <div class="banner-nav-bg"></div>
</div>

<!--图书部分-->
<div id="book">
    <div class="container">
        <div class="book_top">
            <img src="../static/img/readerrecommend.png">
        </div>
        <div class="book_list">
            {% block book_list %}
            {% endblock %}
        </div>
    </div>
</div>
<!--搜索部分设计-->
<div id="book_new">
    <div class="container">
        <div class="book_new_top">
            <img src="../static/img/newbook.jpg"/>
        </div>
        <div class="new_book_main">
            <div class="new_book_left left">
                {% block new_book %}
                {% endblock %}
            </div>
            <div class="new_book_right right tab">
                <!--选项卡-->
                <!--选项的头部-->
                <div id="tab-header" class="new_book_title">
                    <ul>
                        <li class="selected"><div class="new_book_list">新书榜</div></li>
                        <li><div class="new_book_best">畅销榜</div></li>
                        <!--<li>技术</li>-->
                    </ul>
                </div>
                <!--主要内容-->
                <div id="tab-content">
                <div class="dom" style="display: block;">
                    {% block book_top %}
                    {% endblock %}
                </div>
                <div class="dom">
                    {% block book_top2 %}
                    {% endblock %}
                </div>
                </div>
        </div>
    </div>
</div>

<!--页面服务-->
<div id="serve">
    <div class="container">
        <ul>
            <li>
                <dl>
                    <dt><img src="{{ url_for('static', filename='images/zheng.png') }}"></dt>
                    <dd class="dd1">正规渠道</dd>
                    <dd class="dd2">正品保障</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><img src="../static/img/zheng.png"></dt>
                    <dd class="dd1">正规渠道</dd>
                    <dd class="dd2">正品保障</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><img src="../static/img/zheng.png"></dt>
                    <dd class="dd1">正规渠道</dd>
                    <dd class="dd2">正品保障</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><img src="../static/img/zheng.png"></dt>
                    <dd class="dd1">正规渠道</dd>
                    <dd class="dd2">正品保障</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><img src="../static/img/zheng.png"></dt>
                    <dd class="dd1">正规渠道</dd>
                    <dd class="dd2">正品保障</dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<!--售后服务-->
<div id="after_sale">
    <div class="container">
        <ul>
            <li>
                <ol>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">关于图书</a></li>
                    <li><a href="#">新闻中心</a></li>
                    <li><a href="#">人才招聘</a></li>
                </ol>
            </li>
            <li>
                <ol>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">关于图书</a></li>
                    <li><a href="#">新闻中心</a></li>
                    <li><a href="#">人才招聘</a></li>
                </ol>
            </li>
            <li>
                <ol>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">关于图书</a></li>
                    <li><a href="#">新闻中心</a></li>
                    <li><a href="#">人才招聘</a></li>
                </ol>
            </li>
            <li>
                <ol>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">关于图书</a></li>
                    <li><a href="#">新闻中心</a></li>
                    <li><a href="#">人才招聘</a></li>
                </ol>
            </li>
            <li>
                <ol>
                    <li><span class="xl"></span> <a href="#">新浪微博</a></li>
                    <li><span class="tx"></span><a href="#">腾讯微博</a></li>
                    <li><span class="rr"></span><a href="#">人人网</a></li>
                    <li><span class="qq"></span><a href="#">QQ空间</a></li>
                </ol>
            </li>
            <li>
                <ol>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">关于图书</a></li>
                    <li><a href="#">新闻中心</a></li>
                    <li><a href="#">人才招聘</a></li>
                </ol>
            </li>
        </ul>
    </div>
</div>
<!--页面底部-->
<div id="footer">
    <div class="container">
        <ul>
            <li><img src="../static/img/logo.jpg"></li>
            <li><span>@2017-2021  贺州市</span></li>
            <li><a class="footer_last_li" href="#">版权说明</a></li>
            <li><a href="#">版权说明</a></li>
            <li><a href="#">版权说明</a></li>
            <li><a href="#">版权说明</a></li>
        </ul>
    </div>
</div>

<div id="to_top">
    <a href="javascript:;" id="to_top_btn"></a>
</div>




<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/swiper2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index_2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/nav_toTop.js') }}"></script>
</body>
</html>