{% extends './block/index_top_bottom.html' %}
{% block content %}
{% block product %}
    <!--页面banner-->
    <div id="banner">
        <!-- <div class="container"></div> -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="{{ url_for('static', filename='images/moon.jpg') }}" width="100%;"
                                               height="630"></div>
                <div class="swiper-slide"><img src="{{ url_for('static', filename='images/kiss.jpg') }}" width="100%;"
                                               height="630"></div>
                <div class="swiper-slide"><img src="{{ url_for('static', filename='images/loveheart.jpg') }}"
                                               width="100%;" height="630"></div>
                <div class="swiper-slide"><img src="{{ url_for('static', filename='images/moon.jpg') }}" width="100%;"
                                               height="630"></div>
                <div class="swiper-slide"><img src="{{ url_for('static', filename='images/Littledragonmaiden.png') }}"
                                               width="100%;" height="630"></div>
                <div class="swiper-slide"><img src="{{ url_for('static', filename='images/Peachblossom.png') }}"
                                               width="100%;" height="630"></div>
                <div class="swiper-slide"><img src="{{ url_for('static', filename='images/qinmong.png') }}"
                                               width="100%;" height="630"></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div class="banner-nav-bg"></div>
    </div>
    <!--图书部分-->
    <div id="book">
        <div class="container">
            <div class="book_top">
                <img src="{{ url_for('static',filename='images/readerrecommend.png') }}/">
            </div>
            <div class="book_list">
                {% block book_list %}
                {% endblock %}
            </div>
        </div>
    </div>
    <!--搜索部分设计-->
    <div id="book_new">
        <div class="container">
            <div class="book_new_top">
                <img src="{{ url_for('static',filename='images/newbook.jpg') }}"/>
            </div>
            <div class="new_book_main">
                <div class="new_book_left left">
                    {% block new_book %}
                    {% endblock %}
                </div>
                <div class="new_book_right right tab">
                    <!--选项卡-->
                    <!--选项的头部-->
                    <div id="tab-header" class="new_book_title">
                        <ul>
                            <li class="selected">
                                <div class="new_book_list">新书榜</div>
                            </li>
                            <li>
                                <div class="new_book_best">畅销榜</div>
                            </li>
                            <!--<li>技术</li>-->
                        </ul>
                    </div>
                    <!--主要内容-->
                    <div id="tab-content">
                        <div class="dom" style="display: block;">
                            {% block book_top %}
                            {% endblock %}
                        </div>
                        <div class="dom" style="display: block;">
                            {% block book_top2 %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% endblock %}