{% extends 'front/base_front.html' %}

{% block css %}
    {#    {{ super() }}#}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/base.css') }}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block header %}{% endblock %}

{% block nav %}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-3 column">
            </div>

            <div class="col-md-6 column">
                    <nav>
                        <a href="{{ url_for('products.index') }}">
                            <img src="{{ url_for('static',filename='/images/logo.jpg') }}" class="logo left" alt="logo" title="返回主页">
                            <h1 class="left">BookStore</h1></a>
                {% block change_nav %}
                {% endblock %}

                    </nav>

                <header>
                    {% block header_common %}
                    {% endblock %}
                </header>
                {% for message in get_flashed_messages() %}
                    <div class="flash"><b>{{ message }}</b></div>
                {% endfor %}

                {% block content %}
                {% endblock %}

                <a href="mailto:caisi1735@163.com" class="right">Email to Administrator:caisi1735@163.com</a>

            </div>

            <div class="col-md-3 column">
            </div>
        </div>
    </div>
{% endblock %}

{% block servers %}{% endblock %}
{% block footer %}{% endblock %}